<!-- Compiled and minified JavaScript -->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h6 class="white-text">Reach me here :)</h6>
                <ul>
                    <li><a rel="noreferrer noopener" target="_blank" class="grey-text text-lighten-3 col" href="https://twitter.com/ArceGabe"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a rel="noreferrer noopener" target="_blank" class="grey-text text-lighten-3 col" href="https://github.com/gabrielarce"><i class="fa-brands fa-github"></i></a></li>
                    <li><a rel="noreferrer noopener" target="_blank" class="grey-text text-lighten-3 col" href="https://www.linkedin.com/in/gabriel-arce-/"><i class="fa-brands fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2022 Copyright
            <a class="grey-text text-lighten-4 right" href="https://www.gabrielarce.dev/" rel="noreferrer noopener" target="_blank">Gabriel Arce - Developer</a>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.19.1/ckeditor.js" integrity="sha512-Ooi9IbjM2SIDjQ02ENbPFuuORT8F8Rc+rowcYfLneDwKRxw1+gVVj5tciVmV/APnA/Ys+qy1MbNKK3k2EaAHcw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="/js/main.js"></script>
</body>

</html>