<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/styles.css">
    <title>DreamCatcher</title>
</head>

<body>
    <div class="navbar-fixed">
        <nav class="nav-wrapper purple darken-1">
            <div class="container">
                <a href="/" class="brand-logo">DreamCatcher</a>
                <a href="#" class="sidenav-trigger" data-target="mobile-links">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li class="button deep-purple darken-1"><a href="/api/dreams/dreamForm">Demo Form</a></li>
                    <li class="button blue darken-1"><a href="/api/dreams">Dashboard</a></li>
                    <li class="button indigo darken-1"><a href="/auth/google">Log in</a></li>
                    <li class="button orange darken-1"><a href="">Sign Up</a></li>

                </ul>
            </div>
        </nav>
    </div>

    <ul class="sidenav" id="mobile-links">
        <li><a href="/api/dreams/dreamForm">Demo Form</a></li>
        <li><a href="/api/dreams">Dashboard</a></li>
        <li><a href="/auth/google">Login</a></li>
        <li><a href="">Sign Up</a></li>
    </ul>