<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Dreamcatcher</title>
</head>

<body>
    <div class="navbar-fixed">
        <nav class="nav-wrapper">
            <div class="">
                <a href="/" class="brand-logo center">Dreamcatcher</a>
                <a href="#" class="sidenav-trigger" data-target="mobile-links">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <% if(!user){%>
                        <li class="button indigo darken-2 rounded"><a href="/auth/google">Log in with Google </a></li>
                        <%  }else{ %>
                            <li class="welcome">Welcome back,
                                <%= user.firstName %>
                            </li>
                            <li class="purple rounded">
                                <a href="/api/dreams">Dashboard</a></li>
                            <li class=""><a href="/auth/logout">Log  Out</a></li>
                            <%  } %>
                </ul>
            </div>
        </nav>
    </div>

    <ul class="sidenav grey darken-4" id="mobile-links">
        <% if(!user){%>
            <li><a href="/auth/google ">Login with Google</a></li>
            <%  }else{ %>
                <li class="welcome">Welcome back,
                    <%= user.firstName %>
                </li>
                <li><a href="/api/dreams ">Dashboard</a></li>
                <li><a href="/api/dreams/dreamForm ">Add a Dream</a></li>
                <li><a href="/auth/logout">Log Out</a></li>
                <%  } %>
    </ul>