<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Submit Your Dream</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header>
        <nav>
            <h1>
                <a href="/">DreamCatcher</a>
            </h1>
            <ul>
                <li><a href="/dreamDemo">Try it Out</a></li>
                <li><a href="">Sign Up</a></li>
                <li><a href="">Login</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <form action="/api/dreams" method="POST" id="dreamForm" name="form">
            <!-- Dream Rating -->
            <label for="radio">How would you rate your dream?</label>
            <div id="radio" class="radio-toolbar">
                <input type="radio" id="radioAmazing" name="dreamRating" value="amazing" required/>
                <label for="radioAmazing">Amazing Dream</label>

                <input type="radio" id="radioNice" name="dreamRating" value="nice">
                <label for="radioAmazing">Nice Dream</label>

                <input type="radio" id="radioNeutral" name="dreamRating" value="neutral">
                <label for="radioNeutral">Neutral Dream</label>

                <input type="radio" id="radioStress" name="dreamRating" value="stress">
                <label for="radioNightmare">Stress Dream</label>

                <input type="radio" id="radioNightmare" name="dreamRating" value="nightmare">
                <label for="radioNightmare">Nightmare</label>
            </div>
            <!-- Lucid Dream? -->
            <label for="lucid">Was this a lucid dream?</label>
            <input type="checkbox" name="lucid" id="lucid">

            <!-- Dream Description -->
            <label for="story">Describe your dream...</label>
            <textarea id="story" name="story" rows="5" cols="33" min="3" required> </textarea>

            <!-- Dream Title -->
            <label for="title">Does this dream have a title?</label>
            <input type="text" id="title" name="title">

            <!-- Dream Date -->
            <label for="date">When did you have this dream?</label>
            <input type="date" name="date" id="date">

            <button type="submit" class="submit-btn">Submit</button>
        </form>
    </section>

    <section>
        <h1>Dreams</h1>
        <% if(dreams.length < 1){ %>
            <p>You have not entered any dreams.</p>
            <% } %>
                <% for(var i = 0; i < dreams.length; i++) { %>
                    <span>
                    <%= dreams[i].date %>
                </span>
                    <h2>
                        <%= dreams[i].title %>
                    </h2>
                    <h3>
                        <%= dreams[i].dreamRating %>
                    </h3>
                    <% if(dreams[i].lucid==="on"){ %>
                        <span>Lucid Dream</span>
                        <% } %>

                            <p>
                                <%= dreams[i].story %>
                            </p>
                            <% } %>
    </section>

    <script src="script.js" async defer></script>
</body>

</html>