<%- include("partials/header.ejs") %>
    <video src="https://res.cloudinary.com/dd55v5j4d/video/upload/v1664084716/Pier_-_101759_jxd4ql.mp4" autoplay loop playsinline muted>
    </video>
    <section class="row">
        <div class="container">
            <h4>Who looks outside, dreams;<br> who looks inside, awakes.</h4>
            <span>-Carl Jung</span>
            <p>What are dreams? Are they a succession of images, ideas, emotions, and sensations that occur in the mind during sleep? Or are they meaningful stories conjured up by our subconscious? </p>
            <p>Dreams contain thoughts and emotions that, when reflected upon, can teach us a lot about ourselves. Keeping a record of your dreams allows you to create a landscape of the part of your mind that comes alive as you sleep</p>
        </div>
    </section>
    <section class="row">
        <div class="container">
            <h4>About DreamCatcher</h4>
            <p>Dreamcatcher is a web application that allows you to keep a record of your dreams; easily accessible across all devices. It's designed to allow you to sign in with Google and quickly capture your dream as you awaken.</p>
            <p>You can personalize a dream entry by adding an image.</p>
        </div>
    </section>
    <%- include("partials/footer.ejs") %>