<%- include("partials/header.ejs") %>
    <video src="https://res.cloudinary.com/dd55v5j4d/video/upload/v1664084716/Pier_-_101759_jxd4ql.mp4" autoplay loop playsinline muted>
    </video>
    <section class="row">
        <div class="container">
            <h4>Some Headline</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam libero corporis deserunt sint iusto provident, recusandae possimus minima beatae distinctio ratione eos perspiciatis eius earum reprehenderit animi quibusdam saepe nemo. Vero
                consequuntur adipisci perferendis explicabo eveniet, quisquam, animi aspernatur cupiditate itaque voluptas enim dicta ipsum illo aliquid fugit rerum tempore doloribus laborum in tenetur ex similique? Esse optio sit repellendus.</p>
        </div>
    </section>
    <section class="row">
        <div class="container">
            <h4>Some Other Headline</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam libero corporis deserunt sint iusto provident, recusandae possimus minima beatae distinctio ratione eos perspiciatis eius earum reprehenderit animi quibusdam saepe nemo. Vero
                consequuntur adipisci perferendis explicabo eveniet, quisquam, animi aspernatur cupiditate itaque voluptas enim dicta ipsum illo aliquid fugit rerum tempore doloribus laborum in tenetur ex similique? Esse optio sit repellendus.</p>
        </div>
    </section>
    <%- include("partials/footer.ejs") %>