<%- include("partials/header.ejs") %>
    <div>
        <video src="https://res.cloudinary.com/dd55v5j4d/video/upload/v1664084716/Pier_-_101759_jxd4ql.mp4" autoplay loop playsinline muted>
    </video>
    </div>
    <section class="row">
        <div class="container">
            <div class="about-header col s12">
                <h4>Who looks outside, dreams;<br> who looks inside, awakes.</h4>
                <span class="quote-author">-Carl Jung</span>
            </div>
            <div class="col s12 l6">
                <p>What are dreams? Are they a succession of images, ideas, emotions, and sensations that occur in the mind during sleep? Or are they meaningful stories that are conjured up by our subconscious? </p>
                <p>Dreams contain thoughts and emotions that, when reflected upon, can teach us a lot about ourselves. Keeping a record of your dreams allows you to create a landscape of the part of your mind that comes alive as you sleep</p>
            </div>
            <div class="col s12 l6">
                <img class="about-img" src="https://res.cloudinary.com/dd55v5j4d/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1664168729/iryeyhwabfm0bnaalnz5.jpg       " alt="">
            </div>
        </div>
    </section>
    <section class="row">
        <div class="container">
            <div class="about-header">
                <h4>About DreamCatcher</h4>
            </div>
            <div class="col s12 l6">
                <p>Dreamcatcher is a web app that allows you to keep a record of your dreams. It's designed to be easily accessible across all devices.</p>
                <p>Too tired to write down your dream when you wake up? Try using the voice to text feature for a more streamlined process. Then, customize your dream entry by attaching a unique image to add life to your dream.</p>
            </div>
            <div class="col s12 l6">
                <!-- <img class="about-img" src="https://res.cloudinary.com/dd55v5j4d/image/upload/v1665389340/johannes-plenio-DKix6Un55mw-unsplash_1_jxg6ei.jpg" alt=""> -->
                <p>Read public dreams from your fellow Dreamers</p>
                <a class="blue btn-large rounded" href="/api/dreams/dreamland">DreamLand</a>
                <% if(!user){%>
                    <p>Or log into start recording your dreams</p>
                    <a href="/auth/google " class="waves-effect waves-light btn-large indigo darken-2 rounded"> Log in with <span class="google">Google</span></a>
                    <%  } %>
            </div>

        </div>
    </section>
    <%- include("partials/footer.ejs") %>